# Perfil local configurado en ~/.aws/credentials
AWS_PROFILE=878311411214_AdministratorAccess
AWS_REGION=us-east-1

# SIMEM
SIMEM_BASE_URL=https://www.simem.co/backend-files/api/datos-publicos
START_DATE=2023-01-01
END_DATE=2026-05-07
REQUEST_PARAMETERS_JSON=[]
# DATASETS_JSON={"Generacion Real":"055A4D","Unidades Generacion":"670221"}
API_TIMEOUT_MS=30000

# S3
S3_BUCKET_NAME=tu-bucket
S3_PREFIX=simem-data

# Si es true, consume la API pero no sube nada a S3
DRY_RUN=false
